@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

:root{
    --color-black: black;
    --color-white: white;
    --color-secondary: ;
    --color-primary: ; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

.main-content{
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.18);
    box-shadow: 0 0 10px rgba(0,0,0,0.18);
    z-index: 99;
    background-color: var(--color-white);
    min-height: 100rem;
    padding: 0;
    max-width: 1040px;
}

.nav-top{
    height: 4.2rem;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4.5rem ;
}


.nav-top ul li{
    display: inline-block;
    padding: 0 .8rem;
    list-style: none;
}

.nav-top ul li a{
    font-size: 1.4rem;
    color: var(--color-black);
    font-weight: bold;
    transition: all .3s;

}

.nav-top ul li a:hover{
    color: #e2001a;
    text-decoration: none;
    transition: all .3s;
}

.nav-top_logo{
    padding: 0 6.5rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.nav-top_logo a img{
    padding: 0 2rem;
}

.button-primary a{
    border-radius: 5px;
    border: 0;
    background-color: #e2001a;
    color: #fff;
    padding: 0 12px 0 0;
    height: 34px;
    line-height: 34px;
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 1.4rem;
}

.button-primary a:hover{
    text-decoration: none;
}

.navbar{
    padding: 0 6.5rem;
    margin-bottom: 5rem;
    position: relative;
}


.nav-item{
    padding: 1rem 1.6rem; 
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}

.nav-item:hover{
    border-bottom: .2rem solid #e2001a;
    background-color: #f1f1f1;
}

.nav-link{
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: rgb(0, 0, 0)!important;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

.nav-link:hover{
    color: #e2001a!important;
}

.navbar-nav .dropdown ul{
    position: absolute;
    top: 100%;
    z-index: 1000;
    min-width: 200px;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #f1f1f1;
    border: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: 0;
}

.navbar-nav .dropdown:hover li {
    background-color: #f1f1f1;
    color: #ffffff;
    font-size: 16px;
    display: none;
    padding: .8rem;
}

.navbar-nav .dropdown li a{
    color: rgb(71, 71, 71)!important;
    text-transform: lowercase;
}

.navbar-nav .dropdown li:hover a{
    color: #e2001a!important;
    text-decoration: none;
}

.navbar-nav .dropdown li{
    display: none;
    border-top: 1px solid #fff;
}
    
.navbar-nav .dropdown:hover li{
    display: block;
    border-top: 1px solid #fff;
}

.navbar-nav:hover .dropdown li:nth-child(1) {
    animation: animate 300ms ease-in-out;
}
  
.navbar-nav:hover .dropdown li:nth-child(2) {
    animation: animate 450ms ease-in-out;
}
  
.navbar-nav:hover .dropdown li:nth-child(3) {
    animation: animate 600ms ease-in-out;
}

.navbar-nav:hover .dropdown li:nth-child(4) {
    animation: animate 750ms ease-in-out;
}

.navbar-nav:hover .dropdown li:nth-child(5) {
    animation: animate 900ms ease-in-out;
}
.navbar-nav:hover .dropdown li:nth-child(6) {
    animation: animate 1150ms ease-in-out;
}

.navbar-nav:hover .dropdown li:nth-child(7) {
    animation: animate 1300ms ease-in-out;
}

  
 @keyframes animate {
0% {
    opacity: 0;
    transform: scale(0.3) translateY(-60px);
}

40% {
    transform: scale(1.1) translateY(30px);
}

80% {
    transform: scale(1.2) translateY(10px);
}

100% {
    opacity: 1;
    transform: scale(1) translateY(0);
}
}

.header{
    height: 38rem;
    width: 88%;
    background-color: #f1f1f1;
    margin: 0 auto 5rem;
}

.header-carousel-item{
    min-height: 30rem;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 1rem;
    height: 1rem;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);
}

.partone{
    padding: 1rem 6rem; 

}

.card-partone{
    border: .1rem solid #e2001a;
    padding: 2rem 1rem;
    margin-bottom: 5rem;
}

.card-partone p{
   font-size: 1.8rem;
   margin-bottom: 2.4rem;
}

.card-partone a{
    background-color: #e2001a;
    color: #fff;
    margin-top: 14px;
    text-transform: uppercase;
    padding: .8rem 1.2rem;
    font-size: 1.4rem;
}

.card-partone a:hover{
text-decoration: none;
}

.card-partone-left{
    padding: 1.5rem;
    background-color: #e2001a;
    border-bottom: .1rem solid #ffffff;
    position: relative;
}

.card-partone-left h3{
    color: white;
}

.simu-img{
    background: url("../img/simu.png") center center no-repeat;
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    top: 35px;
    right: 27px;
    background-color: #e2001a;
    border-radius: 100%;
}

.card-partone-left-info{
    padding: 1.5rem;
    background-color: #000;
}

.divider{
    border: 1px solid #626262;
    background: linear-gradient(to bottom,#212121 0,#000 100%);
    margin-top: 1rem;
}

.divider ul{
    padding: .5rem;
    margin: 0;
}

.divider ul li{
    list-style: none;
}
.divider ul li a{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* a:hover{
    text-decoration: none;
} */

.card-partone-rigth{
    height: 74px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    padding: 15px;
    margin: 0;
    background-color: #2a333c;
    color: #fff;
}


.card-partone-rigth h3 img{
    float: left;
    margin: 0px 10px 15px 0px;
    height: 2.2rem;
}

.card-partone-rigth h3:after {
    content: '';
    width: 6.5em;
    position: absolute;
    height: 0.322em;
    display: block;
    background: #e9041e;
    left: 2.2em;
    bottom: 142px;
    z-index: 99;
}

.card-partone-rigth-link li{
        list-style: none;
        border-bottom: 1px solid #626262;
        padding: .6rem 0;
}   

.card-partone-rigth-link li img{
    height: 1.5rem;
    margin-right: 1.2rem;
}  

.card-partone-rigth-link li a{
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
} 

.li3{
    border-bottom: 0px solid #62626200!important;
}

.partwo{
    padding: 1rem 6rem;
}

.card-partwo-illutstration,
.card-partwo-illutstration1,
.card-partwo-illutstration2,
.card-partwo-illutstration3{
    width: 100%;
    height: 21rem;
    position: relative;
}

.card-partwo-illutstration{
    background-image: url('../img/banque-mobile2.png');
    background-size: cover;
}

.card-partwo-illutstration1{
    background-image: url('../img/photo-ppi.jpg');
    background-size: cover;
}

.card-partwo-illutstration2{
    background-image: url('../img/photo-ppo.jpg');
    background-size: cover;
}

.card-partwo-illutstration3{
    background-image: url('../img/map-agences2.png');
    background-size: cover;
}


.card-partwo-illutstration div,
.card-partwo-illutstration1 div,
.card-partwo-illutstration2 div,
.card-partwo-illutstration3 div{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: rgba(27,51,73,0.5);
}

.footer{
    background-color: #2a2a2a;
    padding: 4.5rem 6rem;
    color: #fff;
    margin-top: 40px;
    font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
}

.footer-link{
    margin-bottom: 3rem;
}

.footer-link ul{
    flex: 1;
    margin-right: 3rem;
}

.footer-link ul h5{
    margin-bottom: 2rem;
    font-weight: bold;
}

.footer-link ul li{
    list-style: none;
    margin: .4rem;
}

.footer-link ul li::before{
    content: ">";
    margin-right: 5px;
    font-size: 9px;
}

.footer-link ul li a{
    color: white;
    font-size: 1rem;
}

.footer-link ul li a:hover{
    color: #919090;
    transition: all .3s;
}
.footer-social{
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
    padding: .6rem;
    margin-right: 1rem;
}



.facebook{
    background-color: #3b5998;
}

.linkedin{
    background-color: #007bb6;
}

.twitter{
    background-color: #00aced;
}

.youtube{
    background-color: #b00;
}

.footer-logo img{
    margin-left: 0;
    margin-top: 1px;
    width: 189px;
    height: 35px;
    display: inline-block;
    margin-right: 3rem;
}

.footer-bottom{
    align-items: center;
}

.footer-bottom li {
    border-right: 1px solid white;
    list-style: none;
}

.footer-bottom li a{
    padding: 1.8rem 1rem;
    font-size: 1.2rem;
    color: white;
}

.footer-bottom li a:hover{
    color: #e2001a!important;
    transition: all .3s;
}

.signature{
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-content-connexion{
    height: 100vh;
    width: 100%;
    background-image: url('../img/bg-01.jpg');
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.connexion-logo{
    justify-content: center;
    display: flex ;
    margin-bottom: -1.8rem;
    z-index: -1;
}

.block-content{
    width: 30%;
    min-height: 30rem;
    margin: -10rem auto 0;
}

.form-connexion{
    position: absolute;
    width: 30%;
}

.form-connexion div,
.button-connexion{
    height: 7.2rem;
    background-color: rgba(255, 255, 255, 0.747);
    width: 100%;
    border-radius: 50rem;
    border: none;
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
}

.form-connexion div input{
    background-color: transparent;
    width: 100%;
    height: 3.2rem;
    border: none;
    border-bottom: 1px solid #acacac;
    font-size: 1.5rem;
    font-weight: bold;
}

.form-connexion div input:focus{
    outline: none;
}

.button-connexion{
    cursor: pointer;
    text-align: center;
    font-size: 1.7rem;
    color: white!important;
    background-color: #ed3b45!important;
    justify-content: center;
    margin-bottom: 1rem!important;
    margin-top: 3rem!important;
}

.button-connexion:hover{
    background-color: #c9343b!important;
    transition: all .3s;
}

.button-connexion a{
    color: white!important;
    font-weight: bold;

}

.button-connexion a:hover{
    text-decoration: none;
}

.button-inscription{
    cursor: pointer;
    text-align: center;
    font-size: 1.7rem;
    background-color: #ffffff!important;
    justify-content: center;
    margin-top: 0rem!important;
}

.button-inscription a{
    color: #ed3b45!important;
    font-weight: bold;

}

.button-inscription a:hover{
    text-decoration: none;
}









